$color__background-body: #8C262E;


$color__background-header: #F4F0ED;
$color__header-primary: #290C0E;
$color__header-secondary: #444444;

$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #D7D3D3;
$color__text-input: #F7F3F3;
$color__text-input-focus: #111;
$color__link: #D45F6B;
$color__link-visited: #EEEEEE; //purple
$color__link-hover: #FF7381;
$color__text-main: #f3f0f0;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
